*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

img {
  max-inline-size: 100%;
}
body {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header'
    'main side';
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 6fr;
  gap: 0.5rem;
}
.container > * {
  border: 3px solid grey;
}
header {
  display: flex;
  justify-content: center;
  grid-area: header;
  gap: 1rem;
  align-items: center;
}
header input {
  width: 20rem;
  height: 3rem;
  padding: 1rem;
}
svg {
  width: 50px;
  height: 50px;
}
.logo {
  width: auto;
  height: 125px;
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  padding: 1rem 2rem;
  gap: 1.5rem;
}
main>div{
  border: 1px solid grey;
}
.bookCard-Container{
  text-align: center;
  display: flex;
  flex-direction: column;

}
.bookCard-Container>div{
  margin-top: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40px;
}
.addBook{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form input{
width: 300px;
height: 50px;
border: none;
border-bottom: 1px solid grey;
padding: 1rem;
}
form button{
  width: 100px;
  height: 40px;
}
aside {
  grid-area: side;

  display: grid;
  grid-template-rows: 1fr  1fr;
  padding: 2rem;
  gap: 1rem;
  justify-content: center;
}
aside > div {
  text-align: center;
  border-bottom: 2px solid grey;
}
aside > button {
  width: 200px;
  height: 100px;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
}
h2 {
  font-size: 1rem;
  font-weight: 500;
}
